{% extends 'profile/base.html' %}
{% load qa_tags %}


{% block content %}


<!DOCTYPE html>


    <html class="html__responsive ">

    <head>

        <title>Badges - Stack Overflow - Clone</title>
            <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=34c234f84be8">
    </head>
    <body class="badges-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">
            


<div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
    <div class="left-sidebar--sticky-container js-sticky-leftnav">
        <nav role="navigation">
            <ol class="nav-links">
        <li class="">
            <a
               href="/"
               class="pl8 nav-links--link">
                    <div class="d-flex ai-center">
                        <div class="flex--item truncate">
                            Home
                        </div>
                    </div>
            </a>
        </li>
                <li>
                    <ol class="nav-links">
                            <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>

        <li class="">
            <a id="nav-questions"
               href="/questions"
               class="pl8  nav-links--link -link__with-icon">
<svg aria-hidden="true" class="svg-icon iconGlobe" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1C4.64 1 1 4.64 1 9c0 4.36 3.64 8 8 8 4.36 0 8-3.64 8-8 0-4.36-3.64-8-8-8ZM8 15.32a6.46 6.46 0 01-4.3-2.74 6.46 6.46 0 01-.93-5.01L7 11.68v.8c0 .88.12 1.32 1 1.32v1.52Zm5.72-2c-.2-.66-1-1.32-1.72-1.32h-1v-2c0-.44-.56-1-1-1H6V7h1c.44 0 1-.56 1-1V5h2c.88 0 1.4-.72 1.4-1.6v-.33a6.45 6.45 0 013.83 4.51 6.45 6.45 0 01-1.51 5.73v.01Z"/></svg>                    <span class="-link--channel-name">Questions</span>
            </a>
        </li>
                        

        <li class="">
            <a id="nav-tags"
               href="{% url 'profile:tagsPage' %}"
               class="  nav-links--link">
                    <div class="d-flex ai-center">
                        <div class="flex--item truncate">
                            Tags
                        </div>
                    </div>
            </a>
        </li>
        <li class="">
            <a id="nav-users"
               href="{% url 'profile:usersPage' %}"
               class="  nav-links--link">
                    <div class="d-flex ai-center">
                        <div class="flex--item truncate">
                            Users
                        </div>
                    </div>
            </a>
        </li>
                    </ol>
                </li>

            </ol>
        </nav>
    </div>
</div>




        <div id="content" class="snippet-hidden">

            
<div id="mainbar">
    <div data-can-be="badges-legend-module" data-is-here-when="sm md"></div>
    <div>
        <div class="general">
        	<h2 class="mt32">Question Badges</h2>
{% for tag in tags %}        	
        <div class="mb6 pt6 bt bc-black-075">

	<div class="d-flex ai-center py4 btw0 md:fd-column md:ai-start">
	    <div class="d-flex ai-center wmn2 md:mb4">
	        <div class="flex--item w24">
	        </div>
	        <div class="flex--item">
	            <a href="{% url 'profile:tagPage' user.id tag.id %}" title="bronze badge: First bounty you manually award on another person&#39;s question" class="badge m0"><span class="badge3"></span>&nbsp;{{tag.tag_name}}</a>
	        </div>
	    </div>
    	<div class="d-flex fl-grow1 ai-center md:w100">


        <div class="w24 fl-shrink0 d-none md:d-block"></div> 
        <div class="flex--item fl-grow1">
            {{tag.description}}
        </div>

        <div class="flex--item ml6 wmn1 md:wmn-initial ta-right fc-light fl-shrink0">
                <span title="10,451"></span></div>
    </div>
</div>

            </div>
            <br>
            {% endfor %}
            <div class="mb6 pt6 bt bc-black-075">

            </div>
        </div>
    </div>


</div>
<div id="sidebar" class="faq-page">
    <nav class="s-sidebarwidget mb24" id="toc">
    <ul class="s-sidebarwidget--content s-sidebarwidget__items">
                <li class="s-sidebarwidget--item"><a aria-current="false" href="{% url 'help:privileges' %}">Privileges</a></li>
                <li class="s-sidebarwidget--item"><a aria-current="page" href="{% url 'tagbadge:badges' %}">Badges</a></li>
    </ul>
</nav>
    <div class="module" id="badges-legend-module" data-is-here-when="lg">
            <div class="d-flex flex__fl-grow1 fd-column gs16 md:fd-row sm:fd-column">
                <div class="flex--item">
                    <div>
                        <a href="#" title="bronze badge: awarded frequently" class="badge "><span class="badge3"></span>&nbsp;Bronze Badge</a>
                    </div>
                    <div>
                        Bronze badges encourage users to try out new features on the site. They are easy to get if you try!
                    </div>
                </div>
                <div class="flex--item">
                    <div>
                        <a href="#" title="silver badge: awarded occasionally" class="badge "><span class="badge2"></span>&nbsp;Silver Badge</a>
                    </div>
                    <div>
                        Silver badges are less common than bronze ones. You&#x27;ll need to plan your strategy to get one of these.
                    </div>
                </div>
                <div class="flex--item">
                    <div>
                        <a href="#" title="gold badge: awarded rarely" class="badge "><span class="badge1"></span>&nbsp;Gold Badge</a>
                    </div>
                    <div>
                        Gold badges recognize important contributions from members of the community. They are rarely awarded.
                    </div>
                </div>
            </div>

    </div>
    <div class="module" id="recent-badges">
    <h4 id="h-recent-badges">Recent Badges</h4>
    <table>
        {% for recent in recentsEarned_badges %}
    <tr>
        <td>
            <a href="{% url 'profile:tagPage' recent.awarded_to_user.id recent.id %}" title="{{recent.badge_type}} : {{recent.description}}" class="badge "><span class="badge2"></span>&nbsp;{{recent.tag_name}}</a> <a href="{{recent.awarded_to_user.profile.get_absolute_url}}">{{recent.awarded_to_user}}</a>
        </td>
    </tr>
        {% endfor %}
    </table>
</div>  
</div>
        </div>
    </div>



            <footer id="footer" class="site-footer js-footer" role="contentinfo">
        <div class="site-footer--container">
                <div class="site-footer--logo">
                    <i class="fab fa-stack-overflow fa-3x"></i>
                </div>
            <nav class="site-footer--nav">
                    <div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
                        <h5 class="-title"><a href="" class="" >Stack Overflow - Clone</a></h5>
                        <ul class="-list js-primary-footer-links">
                            <li class="-item"><a href="/questions" class=" -link" data-gps-track="footer.click({ location: 4, link: 16})">Questions</a></li>
                                <li class="-item"><a href="" class=" -link" >Jobs</a></li>
                                <li class="-item"><a href="" class=" -link" >Developer Jobs Directory</a></li>
                                     <li class="-item"><a href="" class=" -link" >Salary Calculator</a></li>
                                <li class="-item"><a href="" class=" -link" >Help</a></li>
                                <li class="-item"><a onclick='StackExchange.switchMobile("on")' class=" -link" >Mobile</a></li>
                        </ul>
                    </div>
                    <div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
                        <h5 class="-title"><a href="">Products</a></h5>
                        <ul class="-list">
                            <li class="-item"><a href="" class=" -link" 
                                                 
                                                >Teams</a></li>
                            <li class="-item"><a href="" class=" -link" >Talent</a></li>
                            <li class="-item"><a href="" class=" -link" >Advertising</a></li>
                            <li class="-item"><a href="" class=" -link">Enterprise</a></li>
                        </ul>
                    </div>
                <div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
                    <h5 class="-title"><a href="">Company</a></h5>
                    <ul class="-list">
                            <li class="-item"><a class=" -link" href="">About</a></li>
                        <li class="-item"><a class=" -link" href="">Press</a></li>
                            <li class="-item"><a class=" -link" href="">Work Here</a></li>
                        <li class="-item"><a class=" -link" href="">Legal</a></li>
                        <li class="-item"><a class=" -link" href="">Privacy Policy</a></li>
                        <li class="-item"><a class="-link" href="">Terms of Service</a></li>
                            <li class="-item"><a class=" -link"  href="">Contact Us</a></li>
                            <li class="-item" id="consent-footer-link"><a class="-link js-cookie-settings" href="#" data-consent-popup-loader="footer">Cookie Settings</a></li>
                        <li class="-item"><a class=" -link"  href="">Cookie Policy</a></li>
                    </ul>
                </div>
            </nav>
            <div class="site-footer--copyright fs-fine">
                <ul class="-list">
                    <li class="-item"><a class="-link" href="">Blog</a></li>
                    <li class="-item"><a href="" class="-link" >Facebook</a></li>
                    <li class="-item"><a href="" class="-link" >Twitter</a></li>
                    <li class="-item"><a href="" class="-link" >LinkedIn</a></li>
                    <li class="-item"><a href="" class="-link">Instagram</a></li>
                </ul>

                <p class="mt-auto mb24">
site design / logo &#169; 2021 Stack Exchange Inc; user contributions licensed under <a href="https://stackoverflow.com/help/licensing">cc by-sa</a>.                    <span id="svnrev">rev&nbsp;2021.11.12.40742</span>
                </p>
            </div>
        </div>

    </footer>
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

    
    </body>
    </html>



{% endblock content %}

